.SideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;

    background-color: var(--theme-color);

    padding: 11px 8px;
}

.SideMenu::-webkit-scrollbar {
    width: 4px;
}
  
.SideMenu::-webkit-scrollbar-track {
    background: var(--theme-color);
}
  
.SideMenu::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
    border: 1px solid var(--theme-color);
}

.SideMenu.open{
    width: 20%;
}

.SideMenu.close{
    width: auto;
}

.SideMenu__header{
    display: flex;
    align-items: center;
    gap: 25%;

    position: sticky;
    top: 0;

    width: 100%;

    margin-bottom: 50px;
}

.SideMenu__icon{
    width: 40px;
    height: 40px;
}

.SideMenu__item{
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;

    max-width: 20ch;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    color: #FFFFFF;
    
    margin-bottom: 10px;
}

.SideMenu__item:hover{
    color: #d8d8d8;
}

.SideMenu__item .not-selected{
    font-weight: 300;

    border-bottom: 1px solid transparent;

    padding-bottom: 2px;
}

.SideMenu__item .selected{
    font-weight: 500;

    border-bottom: 1px solid var(--underline-color);

    padding-bottom: 2px;
}

@media only screen and (max-width: 700px) {
    .SideMenu{
        right: 0;

        height: 35%;
    }

    .SideMenu.open{
        width: 100%;
    }

    .SideMenu.close{
        height: 66px;
    }

    .SideMenu.close .SideMenu__header{
        margin-bottom: 0;
    }

    .SideMenu__icon{
        cursor: default;
    }

    .SideMenu__item{
        cursor: default;
    }
}