@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  box-sizing: border-box;

  font-family: "Roboto";

  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 20px;
  border: 3px solid #fff;
}

.App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 78px 140px 78px 100px;
}

.App.initial {
  align-items: center;
  justify-content: center;

  padding: 0;
}

.App.menu--opened {
  margin-left: 20%;
}

.App.menu--closed {
  margin-left: 66px;
}

.App__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;

  border-bottom: 3px solid var(--underline-color);
}

.App__img {
  width: 100px;
  height: 100px;

  position: absolute;
  z-index: -10;

  opacity: 0.5;
}

.App__img.change-theme {
  top: 10%;
  right: 7%;
}

.App__img.contact {
  bottom: 15%;
  right: 5%;
}

.App__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 100%;
}

.main__title {
  align-self: center;

  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #000000;

  border-bottom: 2px solid var(--underline-color);

  margin-bottom: 50px;
}

.main__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;

  margin-bottom: 10px;
}

.main__subtitle2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #333333;

  width: 100%;

  background-color: rgb(235, 235, 235);

  margin-top: 10px;
}

.main__text {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 16px;
  line-height: 28px;
  color: #000000;

  margin-bottom: 30px;
}

.main__example {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: var(--text-example-color);

  margin-bottom: 30px;
}

.main__img {
  cursor: pointer;

  max-width: 100%;

  margin: 40px 0;
}

.main__ul {
  margin-inline-start: 20px;
  margin-bottom: 30px;
}

.main__li {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 15px;
  line-height: 28px;
  color: #000000;

  margin-bottom: 5px;
}

.main__code-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;

  background-color: var(--background-color);

  padding: 20px 15px;
}

.code-container__content {
  display: flex;
  gap: 20px;
}

.main__code,
.main__code-number {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  word-spacing: 4px;
  font-size: 15px;
  color: var(--theme-color);
}

.main__code {
  width: 100%;
}

.main__code-number {
  width: 25px;
  font-size: 11px;
  text-align: end;
  color: var(--scroll-color);
}

@media only screen and (max-width: 1000px) {
  .App__img.change-theme {
    top: 10%;
    right: 10%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 7%;
  }
}

@media only screen and (max-width: 700px) {
  .App {
    padding: 78px 100px 78px 30px;
  }

  .App.menu--opened {
    min-height: calc(100vh - 350px) !important;

    margin-top: 250px;
    margin-left: 0;
  }

  .App.menu--closed {
    min-height: calc(100vh - 66px) !important;

    margin-top: 66px;
    margin-left: 0;
  }

  .App__img {
    width: 80px;
    height: 80px;
  }

  .App__img.change-theme {
    top: 42%;
    right: 12%;
  }

  .App__img.change-theme.closed {
    top: 18%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 7%;
  }
}

@media only screen and (max-width: 500px) {
  .App__img.change-theme {
    top: 42%;
    right: 17%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 13%;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 78px 50px 78px 20px;
  }

  .App__img.change-theme {
    top: 42%;
    right: 22%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 17%;
  }
}

@media only screen and (max-width: 300px) {
  .App {
    padding: 78px 10px;
  }
}

@media only screen and (max-width: 250px) {
  .App {
    padding: 78px 3px;
  }

  .App__img {
    width: 65px;
    height: 65px;
  }

  .App__img.change-theme {
    top: 42%;
    right: 27%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 20%;
  }
}

@media only screen and (max-width: 200px) {
  .App__img.change-theme {
    top: 44%;
    right: 30%;
  }

  .App__img.contact {
    bottom: 15%;
    right: 20%;
  }
}

@media only screen and (max-height: 550px) {
  .App__img.change-theme {
    top: 15%;
    right: 10%;
  }

  .App__img.contact {
    bottom: 20%;
    right: 7%;
  }

  @media only screen and (max-width: 700px) {
    .App__img.change-theme {
      top: 45%;
      right: 10%;
    }
  }
}

@media only screen and (max-height: 450px) {
  .App__img {
    width: 70px;
    height: 70px;
  }

  .App__img.change-theme {
    top: 20%;
    right: 10%;
  }

  .App__img.contact {
    bottom: 25%;
    right: 7%;
  }

  @media only screen and (max-width: 700px) {
    .App__img {
      width: 55px;
      height: 55px;
    }

    .App__img.change-theme {
      top: 48%;
      right: 13%;
    }
  }
}

@media only screen and (max-height: 220px) {
  .App__img {
    display: none;
  }
}